@mixin button($color: green) {
  position: relative;
  height: 24px;
  min-width: 24px;
  color: rgba(0, 0, 0, .7);
  padding: 3px;
  display: inline-block;
  text-align: center;

  span {
    font-size: 18px;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}
